/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noticia+Text&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&family=Satisfy&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

:root {

    /* Base */
    --background-color: #ffffff;

    /* Text */
    --text-color: #000000;

    /* Menu Text */
    --menu-text-color: #00000080; /* 50% opacity */

    /* Menu Colors */
    --menu-background: #ffffff;
    --menu-hover: #e0e0e0;
    --menu-shadow: rgba(0, 0, 0, 0.1);

     /* Input Colors */
     /* --input-background: #B0CCE2; */
     /* --input-background: #587790; */
     /* --input-background: #587790a4; */
     --input-background: #658cab92;
     --input-background: #658cab48;
     --input-background: #5186b148;


     /* Button Colors */
     --button-background: #009DF8;
     --button-text: white;
}

/* DARK MODE */

body.dark-mode {

    /* Base */
    --background-color: black;

    /* Text */
    --text-color: #ffffff;

     /* Menu Text */
     --menu-text-color: #ffffff75; /* 50% opacity */

    /* Menu Colors */
    --menu-background: #101010;
    --menu-background: #000000;
    --menu-hover: #0d0d0d;
    --menu-shadow: rgb(22, 33, 38);

     /* Input Colors */
     /* --input-background: #101316;
     --input-background: #1b2025;
     --input-background: #15191d; */
     --input-background: #20252c;
     
     /* Button Colors */
     --button-background: #009DF8;
     --button-text: white;
}

/* WHOLE BODY */
* {
    font-family: 'Poppins';
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border-radius: 5px;
}

/* Body for All */
body {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%; 
	/* max-width: 1000px; */
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    background: none;
    width: 100%;
    /* box-shadow: 0 2px 5px var(--menu-shadow); */
    position: relative;
    z-index: 1000;
    padding: 0 2em 0 2em;
}

/* Menu Burger */

/* Menu Button */
#menu_burgers {
    position: relative;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    /* background-color: blue; */
}

/* The Burgers */
.burger {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
}

/* Order for the Menu button logos */

/* Make the dark mode menu go away */
.menu_button #menu_burgers .burger:last-child {
    display: none;
}

/* Make the lite mode menu come on in dark mode */
.dark-mode .menu_button #menu_burgers .burger:last-child {
    display: block;
}

/* When Burger button (or burger class) is active */
.burger.active {
    transform: rotate(90deg);
}

/* Day/Nite */

/* Div */
.theme_switch {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Button */
#theme_switch {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: 30px;
    height: 30px;
}

/* Stacked Logos */
.day-nite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

/* Order for the Dark Lite Mode Logos */
body.dark-mode .day-nite:nth-child(2) {
    opacity: 0;
}

body:not(.dark-mode) .day-nite:nth-child(1) {
    opacity: 0;
}

/* Slide-out Menu Styles */
.side-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--menu-background);
    transition: transform 0.3s ease-in-out;
    padding-top: 120px;
    z-index: 999;
}

.side-menu.active {
    transform: translateX(300px);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 998;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

.menu-item {
    padding: 1rem 2rem;
    display: block;
    color: var(--text-color);
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.menu-item:hover {
    background-color: var(--menu-hover);
}

/* For demonstrating menu items */
.menu-item span {
    margin-left: 10px;
}


/* *************** */
/* *************** */
/* *************** */
/* *************** */
/* THE FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    padding: 0 2em 0 2em;
    margin-top: 3em;
}

/* THE HEADER */
header {
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 2em;
    width: 100%;
}

.logo_name {
    display: flex;
    /* flex-direction: column; */
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: .5em;
}

.logo_name p {
    font-size: 2.5rem;
    font-weight: bold;
}

.app_state p {
    text-decoration: underline;
    text-decoration-color: var(--button-background);
    text-decoration-thickness: 2px;
}


.hazel_park_logo {
    width: 4em;
    height: 4em;
}


.pin_number {
    display: flex;
    flex-direction: column;
    gap: .5em;
    /* margin-top: 1em; */
    /* width: 100%; */
}

label {
    opacity: 100%;
    font-size: small;
    font-size: medium;
}

.pin_field {
    display: flex;
    gap: 1.7em;
    gap: 1.1em;
    gap: .6em;
    width: 100%;
}

/* The Pin Puts */
.pin_put_set {
    flex: 1;
    background-color: var(--input-background);
    border: none;
    color: var(--text-color);
    text-align: center;
    width: 4em;
    height: 4em;
    outline: none;
    font-size: 16px;
    max-height: 100%;
    -webkit-appearance: none;
}

.pin_put_confirm {
    flex: 1;
    background-color: var(--input-background);
    border: none;
    color: var(--text-color);
    text-align: center;
    width: 4em;
    height: 4em;
    outline: none;
    font-size: 16px;
    max-height: 100%;
    -webkit-appearance: none;

}

/* Reset Pins Button */
#reset_button {
    background: none;
    color: var(--menu-text-color);
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: small;
    /* font-weight: bold; */
}

/* PINS NOTIFY DIV */
.pin_match_confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
    width: 100%;
    position: relative;
}

/* Match (first-child)*/
.match_ {
    display: none;
    /* opacity: 0; */
}

.match_.entered {
    opacity: 1;
    /* position: absolute; */
    display: flex;
    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    color: var(--pins-match);
    color: green;
    /* background-color: var(--match-background); */
    font-size: medium;
    width: 100%;
    transition: all 0.3s ease;
}

/* No Match (last-child) */
.no_match {
    display: none;
    /* opacity: 0; */
}

.no_match.entered {
    opacity: 1;
    /* position: relative; */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pins-no-match);
    color: red;
    /* margin-top: -1em; */
    background-color: var(--match-background);
    border-radius: 5px;
    font-size: 1rem;
    font-size: medium;
    width: 100%;
    transition: all 0.3s ease;
}

.match_, .no_match {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  .pin_match {
    width: 1.5em;
    height: 1.5em;
  }

/* Submit Button */
.submit {
    background-color: var(--button-background);
    color: white;
    border: none;
    padding: 15px;
    font-size: large;
    /* font-weight: bold; */
    cursor: pointer;
    width: 100%;
    transition: all 0.5s ease;
}

/* No outline on focus */
.submit:focus {
    outline: none;
}

 /* Submit Disabled */
 .submit:disabled {
    background-color: var(--button-background);
    color: var(--text-color);
    opacity: .6;
    cursor: not-allowed;
}

/* For wider screens narrow the form */

/* Landscape */
@media screen and (min-width: 700px) {
    form {
        width: 50%;
        /* display: flex;
        flex-direction: column;
        gap: 1em; */
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    form {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 1em;
        margin-top: 1em;
    }

    .menu-item {
        font-size: x-large;
    }

    .pin_match_confirm {
        padding: 11px;
    }

    label {
        margin-top: 2em;
    }

    /* Logo a bit bigger */
    .logo_name p {
        font-size: 2.5rem;
        font-weight: bold;
    }

    .hazel_park_logo {
        width: 6em;
        height: 6em;
    }
}