/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noticia+Text&family=Playfair+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:wght@500;700;900&family=Satisfy&family=Shadows+Into+Light&family=Shadows+Into+Light+Two&display=swap');

:root {

    /* Base */
    --background-color: #ffffff;

    /* Text */
    --text-color: #000000;

    /* Menu Text */
    --menu-text-color: #000000bf; /* 50% opacity */

    /* Menu Colors */
    --menu-background: #ffffff;
    --menu-hover: #e0e0e0;
    --menu-shadow: rgba(0, 0, 0, 0.1);

     /* Input Colors */
     /* --input-background: #B0CCE2; */
     /* --input-background: #587790; */
     /* --input-background: #587790a4; */
     --input-background: #658cab92;
     --input-background: #658cab48;
     --input-background: #5186b148;


     /* Button Colors */
     --button-background: #009DF8;
     --button-text: white;

     /* Menu Item Colors */
     --slide-menu-item-background: #5186b148;
     --slide-menu-item-background: white;
     --slide-menu-item-trim: #5186b148;
     /* --slide-menu-item-trim: white; */
     
}

/* DARK MODE */

body.dark-mode {

    /* Base */
    --background-color: black;

    /* Text */
    --text-color: #ffffff;

     /* Menu Text */
     --menu-text-color: #ffffff75; /* 50% opacity */

    /* Menu Colors */
    --menu-background: #101010;
    --menu-background: #000000;
    --menu-hover: #0d0d0d;
    --menu-shadow: rgb(18, 27, 31);

     /* Input Colors */
     /* --input-background: #101316;
     --input-background: #1b2025; */
     --input-background: #15191d;
     --input-background: #20252c;
     
     /* Button Colors */
     --button-background: #009DF8;
     --button-text: white;

     /* Menu Item Colors */
     --slide-menu-item-background: #black;
     --slide-menu-item-trim: #2065a578;
     --slide-menu-item-trim: #2169add8;
}

/* WHOLE BODY */
* {
    font-family: 'Poppins';
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    border-radius: 5px;
}

/* Body for All */
body {
    min-height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%; 
	/* max-width: 1000px; */
    padding: 1em 0 1em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3em;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    background: none;
    width: 100%;
    /* box-shadow: 0 2px 5px var(--menu-shadow); */
    position: relative;
    z-index: 1000;
    padding: 0 3em 0 3em;
    margin-top: 2em;
    margin-top: 40px;
}

/* Main Logo */
.viking_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5em;
}

/* Logo Img */
.viking_img {
    width: 4em;
    height: 4em;
    width: 3em;
    height: 3em;
}

/* Logo Text */
.logo_text {
    /* font-size: 5rem; */
    font-size: 1.3rem;
    font-size: 1.1rem;
    font-weight: bold;
}

/* Menu Burger */

/* Menu Button */
#menu_burgers {
    position: relative;
    width: 35px;
    height: 35px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    /* background-color: blue; */
}

/* The Burgers */
.burger {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
    position: absolute;
    top: 0;
    left: 0;
}

/* Order for the Menu button logos */

/* Make the dark mode menu go away */
/* .menu_button #menu_burgers .burger:last-child {
    display: none;
} */

/* Make the lite mode menu come on in dark mode */
/* .dark-mode .menu_button #menu_burgers .burger:last-child {
    display: block;
}  */

/* When Burger button (or burger class) is active */
.burger.active {
    transform: rotate(90deg);
}

/* Day/Nite */

/* Div */
.theme_switch {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

/* Button */
#theme_switch {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    width: 30px;
    height: 30px;
}

/* Stacked Logos */
.day-nite {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
}

/* Order for the Dark Lite Mode Logos */
/* body.dark-mode .day-nite:nth-child(2) {
    opacity: 0;
}

body:not(.dark-mode) .day-nite:nth-child(1) {
    opacity: 0;
} */

/* Slide-out Menu Styles */
.side-menu {
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100vh;
    background-color: var(--menu-background);
    transition: transform 0.3s ease-in-out;
    padding-top: 65px;
    padding-left: 40px;
    padding-right: 20px;
    /* z-index: 999; */
    /* Make slide menu cover it all */
    z-index: 1000;
    border-right: 1px solid var(--nav-shadow);
}

.side-menu.active {
    transform: translateX(300px);
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 998;
}

.menu-overlay.active {
    opacity: 1;
    visibility: visible;
}

/* Logo Header */
.slide_header_logo {
    display: flex;
    align-items: center;
    gap: .5em;
}

.slide_header_logo img {
    width: 2.5em;
    height: 2.5em;
}

.slide_in_logo_text {
    font-size: medium;
    font-weight: bold;
}

/* Menu Items Div */
.menu_items {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 1em;
}

/* Each Slide Menu Item */
.menu-item {
    padding: 1rem 1rem 1rem 0rem;
    display: flex;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    text-decoration: none;
    font-size: small;
    /* font-weight: bold; */
    border: 1px solid var(--slide-menu-item-trim);
    background-color: var(--slide-menu-item-background);
}

#theme_switch {
    background-color: var(--slide-menu-item-background);
    border: 1px solid var(--slide-menu-item-trim);
    width: 100%;
    padding: 1.5rem 1rem 1.5rem 0rem;
    /* padding: 1rem 1rem 1rem 0rem; */
}

/* Profile on the slide menu */
.profile {
    /* margin-top: 1em; */
    display: flex;
    flex-direction: column;
    background-color: var(--slide-menu-item-background);
    border: 1px solid var(--slide-menu-item-trim);
    /* gap: 1em; */
}

/* Whole Profile Div */
.profile_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: .5em 1em;
    border-bottom: 1px solid var(--slide-menu-item-trim);
}

/* Profile IMG */

/* Profile header text */
.profile_text {
    font-size: small;
    font-weight: bold;
}

/* Profile header img */
.profile_circle {
    filter: brightness(90%);
}

/* Profile Info Boxes */
.profile_info {
    /* background-color: var(--input-background); */
    font-size: small;
    padding: .5em 1em;
}

.profile_info label {
    opacity: 50%;
    font-size: small;
}

/* Pin Number Profile Div */
.pin_and_peak {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#pin_code_peak {
    background: none;
    border: none;
    cursor: pointer;
}

#pin_code_peak img {
    width: 1.5em;
    height: 1.5em;
}

/* Each menu item icon */
.menu-item img {
    width: 1.5em;
    height: 1.5em;
    filter: brightness(90%);
    /* filter: brightness(150%) contrast(180%); */
}

.menu-item:hover {
    background-color: var(--menu-hover);
}

/* For demonstrating menu items */
.menu-item span {
    margin-left: 10px;
}

/* Delete Account */

/* Whole Button */
/* .delete_account_button {
    border: none;
    background-color: rgb(192, 52, 52);;
    color: white;
    width: 100%;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
} */

/* Just Text */
.delete_account_button {
    display: flex;
    text-decoration: none;
    align-items: center;
    /* font-weight: bold; */
    color: rgb(192, 52, 52);
    color: red;
    font-size: medium;
    background: none;
    border: none;
    cursor: pointer;
    gap: .4em;
    margin-top: 1em;
    margin-bottom: .5em;
}

.delete_can {
    width: 15px;
    height: 15px;
}

/* Log Out */
.logout_account_div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}



/* Just Text */
/* .logout_account_button {
    display: flex;
    align-items: center;
    background: none;
    color: #009DF8;
    border: none;
    gap: .5em;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
} */

/* Whole Button */
.logout_account_button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5em;
    background-color: #009DF8;
    color: white;
    border: none;
    width: 100%;
    padding: .8em 1em;
    cursor: pointer;
    margin-top: 1em;
    font-size: medium;
}


.logout_logo {
    width: 1.1em;
    height: 1.1em;
}


/* *************** */
/* *************** */
/* *************** */
/* *************** */
/* THE FORM */

form {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
    padding: 0 3em 0 3em;
    /* margin-top: 1em; */
}

/* THE HEADER */
header {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    /* background-color: blue; */
}

.logo_name {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: .5em;
    /* gap: 1em; */
}

.logo_name p {
    font-size: 2.5rem;
    /* font-size: 2rem; */
    font-weight: bold;
}



/* Users select Drop */
/* ***************** */
/* ***************** */

.users_drop_container,
.pin_number {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
}

.users_drop_container label,
.pin_number label {
    margin-bottom: 8px;
}

.users_drop_container select,
.pin_field {
    display: flex;
    width: 100%;
    gap: 8px;
    color: var(--text-color);
    font-family: 'Poppins';
}

.users_drop_container select,
.pin_field input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    /* padding: 10px; */
    padding: 1em;
    padding: .7em;
    /* border: 1px solid #ccc; */
    border: none;
    background-color: var(--input-background);
    border-radius: 5px;
    font-size: 16px;
}

#users_dropdown, #users_dropdown option {
    font-family: 'Poppins', sans-serif;
  }

/* Custom dropdown arrow */
.users_drop_container {
    position: relative;
}

.users_drop_container::after {
    content: '▼';
    position: absolute;
    top: 43%;
    right: 20px;
    transform: translateY(20%);
    pointer-events: none;
    color: #666;
    /* color: var(--button-background); */
    font-size: .5em;
}

.pin_field {
    display: flex;
    gap: 8px;
}

.pin_field input {
    flex: 1;
    text-align: center;
    max-width: 100px;
    border: none;
    height: 50px;
}



/* Pin Number Login */
/* ***************** */
/* ***************** */

.pin_number {
    display: flex;
    flex-direction: column;
    gap: .5em;
    /* width: 100%; */
}

label {
    opacity: 100%;
    font-size: small;
    /* font-size: medium; */
}

.pin_field {
    display: flex;
    /* gap: 1.7em; */
    gap: 1.1em;
    gap: .6em;
    width: 100%;
}

.pin_put {
    flex: 1;
    background-color: var(--input-background);
    border: none;
    color: var(--text-color);
    text-align: center;
    width: 4em;
    height: 4em;
    width: 4em;
    height: 4em;
    outline: none;
    font-size: 16px;
    max-height: 100%;
    -webkit-appearance: none;
}

/* Pin Buttons Div */
.pin_buttons {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

/* Reset Pins Button */
.reset_button {
    background: none;
    color: var(--menu-text-color);
    border: none;
    text-align: left;
    cursor: pointer;
    font-size: small;
    /* font-weight: bold; */
}

/* Create Account Links */

.create_acct_div {
    margin-top: .5em;
    font-size: small;
    display: flex;
    justify-content: center;
    width: 100%;
}


/* Create Account Link */
.create_acct {
    text-decoration: none;
    color: var(--text-color);
    color: var(--button-background);
    /* font-weight: bold; */
    width: 100%;
    text-align: center;

}

/* Submit Button */
.submit {
    background-color: var(--button-background);
    color: white;
    border: none;
    padding: 12px;
    /* font-weight: bold; */
    cursor: pointer;
    font-size: medium;
    transition: all 0.3s ease;
    margin-top: -3em;
}

/* No outline on focus */
.submit:focus {
    outline: none;
}

 /* Submit Disabled */
 .submit:disabled {
    background-color: var(--button-background);
    color: var(--text-color);
    opacity: .6;
    cursor: not-allowed;
}

/* PINS NOTIFY DIV */
.pin_match_confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in;
    width: 100%;
    position: relative;
}

/* Match (first-child)*/
.match_ {
    display: none;
    /* opacity: 0; */
}

.match_.entered {
    opacity: 1;
    /* position: absolute; */
    display: flex;
    /* display: inline-block; */
    justify-content: center;
    align-items: center;
    color: var(--pins-match);
    color: green;
    /* background-color: var(--match-background); */
    font-size: medium;
    width: 100%;
    transition: all 0.3s ease;
}

/* No Match (last-child) */
.no_match {
    display: none;
    /* opacity: 0; */
}

.no_match.entered {
    opacity: 1;
    /* position: relative; */
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pins-no-match);
    color: red;
    /* margin-top: -1em; */
    background-color: var(--match-background);
    border-radius: 5px;
    font-size: 1rem;
    font-size: medium;
    width: 100%;
    transition: all 0.3s ease;
}

.match_, .no_match {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
  }

  .pin_match {
    width: 1.5em;
    height: 1.5em;
  }

footer {
    font-size: x-small;
    opacity: 50%;
    /* width: 100%; */
}
  

/* For wider screens narrow the form */

/* Landscape */
@media screen and (min-width: 700px) {
    form {
        width: 50%;
        gap: 1em;
    }
}

/* Desktop */
@media screen and (min-width: 1200px) {
    /* Main Nav */
    .main_nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 6em 0 6em;
        position: relative;
    }

    /* Logo IMG */
    .viking_img {
        width: 4em;
        height: 4em;
    }

    /* Logo Text */
    .logo_text {
        font-size: 1.5rem;
    }

    /* Menu Burger */
    #burger_one {
        width: 3em;
        height: 3em;
        margin-bottom: 1em;
    }

    /* Slide Menu */

    /* slider logo */
    .slide_header_logo img {
        width: 3em;
        height: 3em;
    }

    /* slider logo text */
    .slide_in_logo_text {
        font-size: x-large;
    }

    /* slider selections */
    .menu-item {
        font-size: medium;
    }

    /* Delete Button */
    .delete_account_div {
        margin-top: 2em;
    }

    /*  */
    form {
        width: 25%;
        display: flex;
        flex-direction: column;
        gap: 3em;
        margin-top: 5em;
    }

    .burger {
        width: 40px;
        height: 40px;
    }

    .day-nite {
        width: 40px;
        height: 40px;
    }

    .menu-item {
        font-size: small;
    }

    /* Header with more gap */
    .logo_name {
        display: flex;
        justify-content: center;
        /* justify-content: center; */
        align-items: center;
        width: 100%;
        gap: .5em;
        /* gap: 2.5em;   */
    }

    /* Logo a bit bigger */
    .logo_name p {
        font-size: 3rem;
        font-size: medium;
        font-weight: bold;
    }

    .hazel_park_logo {
        width: 5em;
        height: 5em;
    }

    /* Form Elements */
    label {
        font-size: medium;
    }

    /* Submit Button */
    
    footer {
        font-size: small;
    }

    .or, .create_acct {
        font-size: medium;
    }
} 


@media screen and (min-width: 1400px) {
    form {
        width: 20%;
    }
}